
  <div class ="row justify-content-center central-col p-5">

    <div class="col-2 menu-col">
      <ul class="list-unstyled">

        <li><%= link_to "Create My Own Jungle", new_jungle_path %></li>
        <li> <%= link_to root_path do %>
          <i class="fas fa-door-closed"></i> Home </li>
           <% end %>
        <li> <%= link_to root_path do %>
              <i class="fas fa-seedling"></i> My Jungles </li>
           <% end %>
        <li> <%= link_to root_path do %>
              <i class="fab fa-readme"></i> My Posts </li>
           <% end %>

        <li> <%= link_to root_path do %>

           <i class="fas fa-book-dead"></i></i> UJC Blog </li>
           <% end %>


      </ul>
    </div>




    <div class="col-6  cards-col">
      <div>

        <%= render "search-bar" %>

        <div class="">
<!--           <h6> x jungles match to your search</h6>
 -->        </div>

        <%= render "jungle-cards" %>
      </div>

        <%= link_to "Back", root_path, class: "btn btn-outline-dark mt-3" %>

         <%= link_to "Next", root_path, class: "btn btn-outline-dark mt-3" %>
    </div>

    <div class="col-4 map-col ">

      <div class="map-div ">
        <div>
        <%= render "map" %>
        </div>


        <div class="link mt-3">
           <%= link_to "Create your jungle", new_jungle_path, class: "btn btn-warning" %>
        </div>

      </div>

    </div>

  </div>

